@use "../utils/colors";

.city {
    background-color: colors.$midgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-align: center;
    padding: 0.5em;
& i {
    font-size: 0.8em;
    font-weight: 100;
    color: colors.$darkgrey;
}
h2{
font-size: 1em;
font-weight: 400;
}
}